
@{
    ViewData["Title"] = "Index";
}

<h1>Coding Challenge Home Page</h1>

<h2>Web API</h2>
View the API documentation <a href="/swagger">here</a>

<h2>Web UI</h2>
View the image list <a href="/list">here</a> where you can click on an image link to show it


